<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хранилище авто</title>
</head>
<body>
<br>
<l6>Поиск по id</l6><br>
<form action="/" method="GET">
    <l6>id: </l6><input name="id_s">
    <input type="submit" value="Найти">
</form>

<l6>Поиск по марке</l6><br>
<form action="/" method="GET">
    <l6>марка: </l6><input name="mark_s">
    <input type="submit" value="найти">
</form>

<l6>Добавление записи</l6><br>
<form action="/" method="GET">
    <l6>id: </l6><input name="id_a">
    <l6> марка: </l6><input name="mark_a">
    <l6> модель: </l6><input name="model_a">
    <input type="submit" value="добавить">
</form>

<l6>Удаление по id</l6><br>
<form action="/" method="GET">
    <l6>id: </l6><input name="id_d">
    <input type="submit" value="удалить">
</form>
<form action="/">
    <input type="submit" value="Показать все записи">
</form>
<br>
{% for data in data %}
    <div style="border: solid">
        <div class="table-cell">{{data[0]}} - {{data[1]}} - {{data[2]}}</div>
    </div>
    <br>
{% endfor %}
</body>
</html>